<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <meta charset="UTF-8">
  <title>JWT Example</title>
</head>
<body ng-controller="MainCtrl as vm">

<h1>Get Random User</h1>

<div ng-hide="vm.user">
  <form >
    <label>Username: <input type="text" ng-model="vm.username"/></label><br/>
    <label>Password: <input type="password" ng-model="vm.password"/></label><br/>
    <button ng-click="vm.login(vm.username, vm.password)" type="submit">Login</button>
    <button >Registrate</button>
  </form>
</div>

<div ng-show="vm.user">
    <h2>Welcome {{vm.user.username}}</h2>
  <button ng-click="vm.logout()">Logout</button>
  <br/>
  <button >Get User</button>
  <pre ng-bind="vm.randomUser | json"></pre>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
<script src="services/userFactory.js"></script>

</body>
</html>
